In [1]:
import pandas as pd

In [2]:
with open('WID_Data_04022023-092312.csv','r') as file:
    print(file.readline())
    data = file.readlines()

Downloaded from wid.world on 04-02-2023 at 09:23:12

In [3]:
columns = ''.join(data[:-1]).replace('\n', ' ').split(';')
rows = data[-1].replace('n', '').split(';')

In [4]:
len(columns) == len(rows)

True

In [5]:
df_wid = pd.DataFrame(dict(zip(columns,rows)), index=[0])
df0 = pd.melt(df_wid, id_vars=['Percentile', 'Year'], var_name='Desc', value_name='sptinc_01')
df0.columns = df0.columns.str.lower()
df0['sptinc_01'] = df0['sptinc_01'].str.strip()
df0.loc[df0['sptinc_01'] == '', 'sptinc_01'] = None
df0['sptinc_01'] = df0['sptinc_01'].astype(float)

In [6]:
df0

,percentile,year,desc,sptinc_01
0,p99p100,2021,"""sptinc_z_CH Pre-tax national income Top 1% |...",0.0986
1,p99p100,2021,"""sptinc_z_US-NV Pre-tax national income Top 1...",NaN
2,p99p100,2021,"""sptinc_z_QM Pre-tax national income Top 1% |...",0.1382
3,p99p100,2021,"""sptinc_z_UY Pre-tax national income Top 1% |...",0.1339
4,p99p100,2021,"""sptinc_z_SY Pre-tax national income Top 1% |...",0.2066
...,...,...,...,...
301,p99p100,2021,"""sptinc_z_QT-MER Pre-tax national income Top ...",0.1930
302,p99p100,2021,"""sptinc_z_PG Pre-tax national income Top 1% |...",0.1637
303,p99p100,2021,"""sptinc_z_QO-MER Pre-tax national income Top ...",0.1635
304,p99p100,2021,"""sptinc_z_QF-MER Pre-tax national income Top ...",0.1271
305,p99p100,2021,"""sptinc_z_ID Pre-tax national income Top 1% |...",0.1785

In [7]:
df0 = df0.dropna().reset_index(drop=True)

In [8]:
df0

,percentile,year,desc,sptinc_01
0,p99p100,2021,"""sptinc_z_CH Pre-tax national income Top 1% |...",0.0986
1,p99p100,2021,"""sptinc_z_QM Pre-tax national income Top 1% |...",0.1382
2,p99p100,2021,"""sptinc_z_UY Pre-tax national income Top 1% |...",0.1339
3,p99p100,2021,"""sptinc_z_SY Pre-tax national income Top 1% |...",0.2066
4,p99p100,2021,"""sptinc_z_GN Pre-tax national income Top 1% |...",0.0863
...,...,...,...,...
238,p99p100,2021,"""sptinc_z_QT-MER Pre-tax national income Top ...",0.1930
239,p99p100,2021,"""sptinc_z_PG Pre-tax national income Top 1% |...",0.1637
240,p99p100,2021,"""sptinc_z_QO-MER Pre-tax national income Top ...",0.1635
241,p99p100,2021,"""sptinc_z_QF-MER Pre-tax national income Top ...",0.1271
242,p99p100,2021,"""sptinc_z_ID Pre-tax national income Top 1% |...",0.1785

In [9]:
df0['desc']

0      "sptinc_z_CH Pre-tax national income  Top 1% |...
1      "sptinc_z_QM Pre-tax national income  Top 1% |...
2      "sptinc_z_UY Pre-tax national income  Top 1% |...
3      "sptinc_z_SY Pre-tax national income  Top 1% |...
4      "sptinc_z_GN Pre-tax national income  Top 1% |...
                             ...
238    "sptinc_z_QT-MER Pre-tax national income  Top ...
239    "sptinc_z_PG Pre-tax national income  Top 1% |...
240    "sptinc_z_QO-MER Pre-tax national income  Top ...
241    "sptinc_z_QF-MER Pre-tax national income  Top ...
242    "sptinc_z_ID Pre-tax national income  Top 1% |...
Name: desc, Length: 243, dtype: object

In [10]:
df0['a2'] = [c.split('_')[-1].split(' ')[0] for c in df0['desc']]

In [11]:
df1 = df0[~df0['a2'].str.contains('-')]

In [12]:
# World Region Codes
wrc = [
    "QB",
    "QC",
    "QD",
    "QE",
    "QF",
    "QG",
    "QH",
    "QI",
    "QJ",
    "QK",
    "QL",
    "QM",
    "QN",
    "QO",
    "QP",
    "QQ",
    "QR",
    "QS",
    "QT",
    "QU",
    "QV",
    "QW",
    "QX",
    "QY",
    "WO",
    "XA",
    "XB",
    "XF",
    "XL",
    "XM",
    "XN",
    "XR",
    "XS",
    "OA",
    "OB",
    "OC",
    "OD",
    "OE",
    "OH",
    "OI",
    "OJ"
]

In [13]:
df1

,percentile,year,desc,sptinc_01,a2
0,p99p100,2021,"""sptinc_z_CH Pre-tax national income Top 1% |...",0.0986,CH
1,p99p100,2021,"""sptinc_z_QM Pre-tax national income Top 1% |...",0.1382,QM
2,p99p100,2021,"""sptinc_z_UY Pre-tax national income Top 1% |...",0.1339,UY
3,p99p100,2021,"""sptinc_z_SY Pre-tax national income Top 1% |...",0.2066,SY
4,p99p100,2021,"""sptinc_z_GN Pre-tax national income Top 1% |...",0.0863,GN
...,...,...,...,...,...
235,p99p100,2021,"""sptinc_z_CD Pre-tax national income Top 1% |...",0.1463,CD
236,p99p100,2021,"""sptinc_z_PL Pre-tax national income Top 1% |...",0.1516,PL
237,p99p100,2021,"""sptinc_z_EE Pre-tax national income Top 1% |...",0.1625,EE
239,p99p100,2021,"""sptinc_z_PG Pre-tax national income Top 1% |...",0.1637,PG
242,p99p100,2021,"""sptinc_z_ID Pre-tax national income Top 1% |...",0.1785,ID

In [14]:
df2 = df1[~df1['a2'].isin(wrc)].reset_index(drop=True)

In [15]:
df2['countries'] = [c.strip().split('_')[-1].split('| share ')[-1].replace('"', '') for c in df2['desc']]

In [16]:
df2

,percentile,year,desc,sptinc_01,a2,countries
0,p99p100,2021,"""sptinc_z_CH Pre-tax national income Top 1% |...",0.0986,CH,Switzerland
1,p99p100,2021,"""sptinc_z_UY Pre-tax national income Top 1% |...",0.1339,UY,Uruguay
2,p99p100,2021,"""sptinc_z_SY Pre-tax national income Top 1% |...",0.2066,SY,Syrian Arab Republic
3,p99p100,2021,"""sptinc_z_GN Pre-tax national income Top 1% |...",0.0863,GN,Guinea
4,p99p100,2021,"""sptinc_z_MW Pre-tax national income Top 1% |...",0.1502,MW,Malawi
...,...,...,...,...,...,...
170,p99p100,2021,"""sptinc_z_CD Pre-tax national income Top 1% |...",0.1463,CD,DR Congo
171,p99p100,2021,"""sptinc_z_PL Pre-tax national income Top 1% |...",0.1516,PL,Poland
172,p99p100,2021,"""sptinc_z_EE Pre-tax national income Top 1% |...",0.1625,EE,Estonia
173,p99p100,2021,"""sptinc_z_PG Pre-tax national income Top 1% |...",0.1637,PG,Papua New Guinea
174,p99p100,2021,"""sptinc_z_ID Pre-tax national income Top 1% |...",0.1785,ID,Indonesia

In [17]:
df = df2[['a2','countries','sptinc_01']]

In [18]:
df

     a2             countries  sptinc_01
0    CH           Switzerland     0.0986
1    UY               Uruguay     0.1339
2    SY  Syrian Arab Republic     0.2066
3    GN                Guinea     0.0863
4    MW                Malawi     0.1502
..   ..                   ...        ...
170  CD              DR Congo     0.1463
171  PL                Poland     0.1516
172  EE               Estonia     0.1625
173  PG      Papua New Guinea     0.1637
174  ID             Indonesia     0.1785

[175 rows x 3 columns]

In [19]:
sptinc_01 = df.iloc[:,2].mean()

In [20]:
sptinc_01

0.15674685714285716

In [21]:
df.iloc[:,2].describe()

count    175.000000
mean       0.156747
std        0.047224
min        0.068800
25%        0.121500
50%        0.151900
75%        0.193000
max        0.311100
Name: sptinc_01, dtype: float64

In [22]:
import requests

In [23]:
req = requests.get()

In [25]:
tables = pd.read_html('https://wid.world/codes-dictionary/')

In [35]:
tables[4]

,WID code,country name,region (standard),region (continental),sub-region,region (political),region (other)
0,AD,Andorra,Europe,Europe,Western Europe,NaN,Other Western Europe
1,AE,United Arab Emirates,MENA,Asia,West Asia,NaN,Other MENA
2,AF,Afghanistan,South & South-East Asia,Asia,South Asia,NaN,Other South & South-East Asia
3,AG,Antigua and Barbuda,Latin America,Americas,Caribbean,NaN,Other Latin America
4,AI,Anguilla,Latin America,Americas,Caribbean,NaN,Other Latin America
...,...,...,...,...,...,...,...
229,YU,Yugoslavia,Europe,Europe,Eastern Europe,European Union,NaN
230,ZA,South Africa,Sub-Saharan Africa,Africa,South Africa,NaN,Other Sub-Saharan Africa
231,ZM,Zambia,Sub-Saharan Africa,Africa,East Africa,NaN,Other Sub-Saharan Africa
232,ZW,Zimbabwe,Sub-Saharan Africa,Africa,East Africa,NaN,Other Sub-Saharan Africa
233,ZZ,Zanzibar,Sub-Saharan Africa,Africa,East Africa,NaN,Other Sub-Saharan Africa

In [36]:
pd.merge(

     a2             countries  sptinc_01
0    CH           Switzerland     0.0986
1    UY               Uruguay     0.1339
2    SY  Syrian Arab Republic     0.2066
3    GN                Guinea     0.0863
4    MW                Malawi     0.1502
..   ..                   ...        ...
170  CD              DR Congo     0.1463
171  PL                Poland     0.1516
172  EE               Estonia     0.1625
173  PG      Papua New Guinea     0.1637
174  ID             Indonesia     0.1785

[175 rows x 3 columns]